{% extends 'base.html' %}
{% block title %}Satisfaction Survey: Question {{question_number + 1}} {% endblock %}
{% block content %}
{% for msg in get_flashed_messages() %}
<p>{{msg}}</p>
{% endfor %}
<h1>Question {{question_number + 1}}/{{max_question_number}}</h1>
<form method='POST' action='/answer'>
    <p>{{survey_question}}</p>
    {% for option in options_and_indices %}
    <label for='option_{{options_and_indices[option]}}'>{{option}}</label>
    <input type='radio' name='question_{{question_number}}' value='{{options_and_indices[option]}}' id = '{{options_and_indices[option]}}'>
    {% endfor %}
    <button>Next Question</button>
</form>
{% endblock %}